body {
  margin: 0;
  font-family: Cambria, sans-serif;
  background: linear-gradient(135deg, #105070, #105099);
  color: white;
  text-align: center;
}

nav {
  padding: 10px;
  background: rgba(200,200,200,0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

.connect input {
  padding: 10px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;
  outline: none;
}

.connect button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.chat-header {
  width: 100%;
  height: 50px;
  background: rgba(200,200,200,0.5);
  line-height: 50px;
  font-weight: bold;
}

#messages {
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
  background: rgba(200,200,200,0.3);
}

.chat-input {
  padding: 10px;
  background: rgba(200,200,200,0.5);
}

.chat-input input {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.chat-input button {
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  }
